<body class="main-bg">
  <div class="login-container text-c animated flipInX">
    <div>
      <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
    </div>
    <h2 class="text-whitesmoke">Sign In</h2>
    <!-- <p class="text-whitesmoke">Sign In</p> -->
    <div class="container-content">
      <form class="margin-t">

        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" required="required" #businessEmail>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder= "********"
          pattern=".+@globex.com" size="30" required #businessPassword>
        </div>

        <button type="button" (click)="userLogin(businessEmail.value,businessPassword.value)" value="Log in"
          value="Login" class="form-button button-l margin-b">Sign In</button>

        <a class="text-darkyellow" href="#"><small>Forgot your password?</small></a>
        <p class="text-whitesmoke text-center"><small>Do not have an account?</small></p>
        <a class="text-darkyellow" href="#"><small>Sign Up</small></a>
      </form>
      <p class="margin-t text-whitesmoke"><small> MonetDT &copy; 2021</small> </p>
    </div>
  </div>
</body>
